.bannerBox{
    height: 74vh;
    background-image: url('../../images/bannerbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.bannerBox h1{
    color: rgb(46, 45, 45);
}
.searchBox input{
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 8px;
    outline-color: red;
    font-size: 16px;
    padding: 4px 10px;
    margin-right: 10px;
}
.searchBox button{
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.food-options{
    width: 100%;
    text-align: center;
}
.food-options a{
    text-decoration: none;
    margin: 0 20px;
    color:rgb(45, 44, 44);
    font-size: 20px;
    font-weight: bold;
}
.food-options .active{
    border-bottom: 5px solid red;
    padding-bottom: 4px;
}
.out{
    transition:0.2s ease;
}