.header-container{
    height: 50px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

.header-container img{
    width: 150px;
}
.cart{
    font-size: 25px;
    margin-right: 20px;
}
